* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}
h1 {
    text-align: center;
    color: #53b3c0;
}





/*  styling for the navigation bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #BDDADE;
    color: #fff;

    
}

.navlinks a {
    color: #fff;
}

.logo{
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #53b3c0;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}


